.fb {
    color: red;
    text-transform: uppercase;
}

.btnGrad {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px rgb(173, 169, 169);
    border-radius: 10px;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.btnGrad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.ldsDualRing {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: ldsDualRing 1.2s linear infinite;
}

@keyframes ldsDualRing {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
